.navbar{
    position:fixed;
    height: 30px;
    padding: 20px;
   width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-between;
   
   
}
.logo{
    position: fixed;
    left:20px;
    width: 80px;
    height: 40px;
}
.avatar{
    position:fixed;
    right: 20px;
    width: 30px;
}